<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cessini.technology.profile">
    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO"/>
            <data android:scheme="smsto" android:host="*" />
        </intent>
        <package android:name="com.whatsapp"/>
        <package android:name="com.instagram.android"/>
        <package android:name="com.google.android.gm"/>
        <package android:name="com.facebook.katana"/>
        <package android:name="com.linkedin.android"/>
        <package android:name="com.twitter.android"/>
    </queries>
</manifest>